/*
 * Login: xradac00
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */


/***********************************************/
      /* ~BASIC REQUIRMENTS~ */
*{
    margin: 0;
    padding: 0;
}
a{
    all: unset;
    cursor: pointer;
    text-decoration: none;
}
p{
    line-height: 1.7;
}
h3{
    font-size: 24px;
}
.content{
    padding-left: 20px;
    padding-right: 20px;
}
section{
    padding-top: 60px;
    padding-bottom: 80px;
}
body{
    font-family: sans-serif;
    max-width: 1200px;
    min-width: 768;
    width: auto;
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
}
::selection{
    background-color: darkseagreen;
    color: white;
}
/**************************************/


/**************************************/
           /* ~HEADER~ */
#header{
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 400px;
}
#header-menu{
    padding-top: 10px;
    gap: 10px;
    display: grid; /* displaying the menu on website using grid */
}
#header-title{
    position: absolute;
    top: 60%;
    margin-left: 20px;
}
#header-title h1{
    font-size: 64px;
    margin-bottom: 20px;
    color: white;
}
#get-started { /* button */
    font-size: larger;
    padding: 20px;
    border: 2px solid grey;
    float: left;
    border-radius: 15px;
    transition: background-color .5s ease-in;
}
#get-started:hover { /* handling hover on button */
    background-color: steelblue;
    border: 2px solid steelblue;
}
#get-started a {
    color: white;
}
#logo{
    grid-column: 1;
    font-size: 25px;
    color: steelblue;
}
#logo span a{
    font-family: 'Special Elite';
}
#logo span a:hover{
    color: lightgrey;
}
#contacts{
    grid-column: 2;
    text-align: end;
}
#contacts span i{
    color: steelblue;
}
#mail a{
    color: grey;
}
#phone{
    color: grey;
}
#mail a:hover{
    color: lightgrey;
}
#networks {
    grid-row: 2;
    grid-column: 2;
    text-align: end;
}
#networks span a i {
    color: steelblue;
    font-size: 25px;
    margin-left: 5px;
}
#networks span a i:hover {
    color: lightgrey;
}
#navigation{
    grid-column: 1;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .05em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
#navigation ul li{
    display: inline;
    padding: 10px;
    color: grey;
    border: 1px solid transparent;
    transition: border .5s ease-in;
}
#navigation ul li:hover{
    border: 1px solid steelblue;
}
/**************************************/


/**************************************/
           /* ~SERVICES~ */
#services h2{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#services .content>p{
    text-align: center;
    color: grey;
    margin-bottom: 40px;
    font-size: 18px;
}
#services .content>div{ /* services content is displayed as a grid with two columns and two rows */
    justify-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.services-card{
    width: 300px;
    padding: 15px;
    box-shadow: grey 0px 0px 10px;
    border-radius: 5px;
}
.services-card>h3{ /* tracing, investigation, surveillance, extermination */
    text-align: center;
    color: black;
    margin-top: 20px;
}
.services-card>p{
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
}
.services-card>div img{
    border: 1px solid steelblue;
    border-radius: 5px;
    width: 50px;
}
.services-card:hover{
    box-shadow: steelblue 0px 0px 10px;
}
.services-card:hover h3{
    color: steelblue;
}
/* these two selectors handle two pictures and their visibility on hover */
.services-card>div img:last-child{ /* :last child will pick up the second image and make it disapear */
    transform: translateX(-51px);
    visibility: hidden;
    position: absolute;
}
.services-card:hover>div img:last-child{ /* :last child is visible now */
    visibility: visible;
    position: absolute;
    background-color: steelblue;
}
/**************************************/


/**************************************/
           /* ~ABOUT US~ */
#about{
    background-color: #f7f7f7;
    margin-bottom: 40px;
}
.about-item{
    display: inline-block;
}
.about-item h2{
    margin-bottom: 40px;
    margin-top: 40px;
}
.about-item p{
    color: grey;
    font-size: 18px;
}
.about-item img{
    border-radius: 5px;
    transition: width .5s ease-in-out;
    width: 40%;
}
.about-item img:hover{
    width: 50%;
}
.about-item:nth-child(odd) img {  /* every odd item added in html code will be displayed on left */
    float: left;
    margin: 40px 80px 40px 0; /* top:40, right:80, bottom:40, left:0 */
}
.about-item:nth-child(even) img { /* every even item added in html code will be displayed on left */
    float: right;
    margin: 40px 0 40px 80px; /* top:40, right:0, bottom:40, left:80 */
}
/**************************************/


/**************************************/
            /* ~TEAM~ */
#team{
    position: relative;
    border-bottom: 1px dashed #4d4d4d;
}
#team>.content{
    display: grid; /* items in row will be displayed as a grid */
    grid-template-columns: repeat(4, 1fr); /* 1row, 4cols */
    column-gap: 20px;
}
#team>.content>h2{ /* title takes the first row and all of the columns */
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.team-card{ /* all cards are in the second row */ 
    grid-row: 2;
    width: 100%;
    box-shadow: grey 0px 0px 10px;
    border-radius: 5px;
    text-align: center;
}
.team-card img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 40px;
}
.team-card h3{
    margin-bottom: 15px;
}
.team-card h4{
    color: grey;
    margin-bottom: 8px;
}
.team-card p{
    color: #bfbfbf;
    font-size: 14px;
    padding-bottom: 1rem;
}
.team-card:hover {
    box-shadow: steelblue 0px 0px 10px;
}
.team-card:hover h3 {
    color: steelblue;
}
/**************************************/


/**************************************/
           /* ~STATISTICS~ */
#stats>.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1row, 3cols */
    column-gap: 20px;
    text-align: center;
    justify-items: center;
}
.stats-card{
    width: 100%;
    max-width: 300px;
    background-color: #4d4d4d;
    border-radius: 5px;
    padding-bottom: 10px;
}
.stats-card:hover{
    background-color: steelblue;
}
.stats-card h3{
    color: #ffffff;
    margin-bottom: 10px;
}
.stats-card p{
    color: #bfbfbf;
    margin-bottom: 7px;
    font-size: 14px;
}
.stats-card i{ /* every image has white background to make a "hole" and it's moved up*/
    color: steelblue;
    background-color: #ffffff;
    padding: 10px;
    font-size: 32px;
    border-radius: 50%;
    transform: translateY(-25px);
}
/**************************************/


/**************************************/
            /* ~PRICE~ */
#price{
    background-color: #f7f7f7;
}
#price h2{
    font-size: 40px;
    text-align: center;
}
#price table{
    width: 80%;
    margin: 0 auto;
    border-spacing: 0 20px;
}
#price table thead{ /* plan, services, price, order now */
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}
#price table th{
    text-align: left;
    padding: 20px;
}
#price table tbody{
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 20px; /* spacing rows only */
}
#price table td{
    border-bottom: 1px dotted steelblue;
    border-top: 1px dotted steelblue;
    color: grey;
    padding: 20px;
}
#price ul li:first-child{ /* removing dot in list style */
    list-style: none;
    font-weight: bold;
    transform: translateX(-16px);
}
#price button{
    border: 1px solid steelblue;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
}
/* hadling hover cases */
#price table tbody tr:hover{
    background-color: #ffffff;
}
#price table tbody tr:hover td{
    color: steelblue;
}
#price button:hover{
    background-color: steelblue;
    color: #ffffff;
}
/**************************************/


/**************************************/
          /* ~REFERENCIES~ */
#refs{
    padding-bottom: 80px;
    border-bottom: 1px dashed #4d4d4d;
}
#refs .content{ /* both of "quoters" are displayed next to each other */
    display: flex;
    gap: 100px;
    justify-content: center;
}
.refs-card{
    max-width: 400px;
    width: 100%;
}
blockquote{ /* displaying bubbles */
    position: relative;
    margin-bottom: 30px;
    background-color: #4d4d4d;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}
.refs-card blockquote span{ /* text in bubbles */
    color: #ffffff;
    font-size: 14px;
    display: block;
    padding-left: 40px;
}
.refs-card figure { /* name and image */
    display: flex;
    align-items: center;
}
.refs-card img { /* images under the bubbles */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 5px;
}
.refs-card h3 { /* names under the bubbles */
    color: gray;
    margin-left: 20px;
    font-weight: normal;
}
.refs-card blockquote::after { /* speech bubble triangle under the bubble box */
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-left: 10px solid #4d4d4d; /* shaping the triangle */
    border-right: 10px solid transparent;
    border-top: 10px solid #4d4d4d;
    border-bottom: 10px solid transparent;
    left: 40px; /* moving triangle */
    bottom: -20px;
}
blockquote::before{ /* quotes in front of text */
    font-style: italic;
    position: absolute;
    font-family: sans-serif;
    content: "\"";
    color: steelblue;
    font-size: 70px;
    left: 15px; /* styling quotes */
    padding-left: 0px;
    bottom: -35px;
}
.refs-card:hover h3 {
    color: steelblue;
}
.refs-card:hover blockquote{
    background-color: steelblue;
}
.refs-card:hover blockquote:after{  /* changing color of bubbles on hover */
    position: absolute;
    border-left: 10px solid steelblue;
    border-right: 10px solid transparent;
    border-top: 10px solid steelblue;
    border-bottom: 10px solid transparent;
}
.refs-card:hover blockquote:before{ /* changing color of quotes on hover */ 
    color: #ffffff;
}
/**************************************/


/**************************************/
           /* ~CONTACTS~ */
#contact .content{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
#contact .content>h2{ /* title is in first the row */
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
#map{
    height: 400px;
    width: auto;
    grid-column: 1;
    padding-bottom: 40px;
}
#contact form { /* boxes to fill are displayed as a grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 0;
    max-height: 400px;
}
#contact-name{ /* name -> 1row, 1col*/
    grid-row: 1;
    grid-column: 1;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 10px;
} 
#contact-email{ /* email -> 1row, 2col */
    grid-row: 1;
    grid-column: 2;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 10px;
} 
#contact-subject{ /* subject -> 2row, 1-2col */
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 10px;
}
#contact-message{ /* message -> 3row, 1-2col */
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 10px;
    font-size: 14px;
}
#contact-submit{ /* submit button -> 4row, 1-2col */
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    border: 1px solid steelblue;
    width: 50%;
    justify-self: center;
    background-color: steelblue;
    color: #ffffff;
    padding: 10px;
}
#contact-submit:hover{
    color: #ffffff;
    background-color: green;
}    
input, textarea{ /* when text is written to boxes -> color changes */
    color: steelblue;
}
/* handling valid case -> the borders of boxes on focus will turn to green color*/
#contact-name:focus:valid {
    border: 2px solid green;
    outline: none;
}
#contact-email:focus:valid {
    border: 2px solid green;
    outline: none;
}
#contact-subject:focus:valid {
    border: 2px solid green;
    outline: none;
}
#contact-message:focus:valid {
    border: 2px solid green;
    outline: none;
}
/* handling invalid case -> text in boxes will turn to red color (involves first click on empty box) */
#contact-email:focus:invalid {
    color: red;
    outline: 0;
    border: 1px solid steelblue;
}
#contact-name:focus:invalid {
    color: red;
    outline: 0;
    border: 1px solid steelblue;
} 
#contact-message:focus:invalid {
    color: red;
    outline: 0;
    border: 1px solid steelblue;
}
#contact-subject:focus:invalid {
    color: red;
    outline: 0;
    border: 1px solid steelblue;
}
/**************************************/


/**************************************/
            /* ~FOOTER~ */
#footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
}
#footer span:first-child{
    color: #4d4d4d;
}
#footer span:last-child{
    float: right;
    color: steelblue;
}
/**************************************/