/***************************************************************************************/
/*                               KAROLINA RADACOVSKA                                   */
/*                                 ITW - PROJECT 2                                     */
/*                                    xradac00                                         */
/***************************************************************************************/
html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 150px){
    html{
        overflow-x: scroll;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    all: unset;
    cursor: pointer;
    text-decoration: none;
}
body{
    width: auto;
    background-color: palegoldenrod;
}
main{
    padding-left: 9vw;
    padding-right: 9vw;
}
::selection{
    background-color: darkolivegreen;
    color: white;
}
h1{
    padding: 50px;
    padding-bottom: 15px;
    font-size: 3.8vw;
    text-align: center;
}
@media screen and (max-width: 900px){
    h1{
        font-size: 34.2px;
    }
}
@media screen and (min-width: 1400px){
    h1{
        font-size: 53.2px;
    }
}
p{
    font-size: 1.5vw;
    font-style: italic;
    text-align: center;
    padding: 2vw;
}
@media screen and (max-width: 900px){
    p{
        font-size: 13.5px;
    }
}
@media screen and (min-width: 1400px){
    p{
        font-size: 21px;
    }
}
h2{
    font-size: 1.7vw;
    text-align: center;
}
@media screen and (max-width: 1000px){
    h2{
        font-size: 17px;
    }
}
@media screen and (min-width: 1400px){
    h2{
        font-size: 23.8px;
    }
}
/******************************************************************/


/******************************************************************/
              /*~INDEX.HTML~*/
#header{
    padding-top: 0;
    height: 50vw;
    min-width: min-content;
    background-image: url(./images/title-picture.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#container{
    position: sticky; /*sticky position to make navbar present during scrolling*/
    top:0;
    min-height: 5vh;
    background-color: #013220 ;
    padding: 2vw;
    overflow: hidden;
}
#logo{
    float: left;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 12px;
    margin: 0 7.5px; 
    color: palegoldenrod;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;   
}
#title{
    display: none; /* title shows only when screen is les then 590px*/
}
#navbar {
    background-color: #013220;
    float: right;
    padding: 12px;
}
#navbar a {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 12px;
    margin: 0 7.5px; 
    color: palegoldenrod;
    font-size: 15px;
    text-align: center;
}
#navbar a:hover {
  background-color: rgb(100, 170, 113);
  transition: all .3s ease-in-out;
  color: black;
}
/*handling styles when screen size changes*/
@media screen and (min-width: 1000px){
    #container{
        padding: 20px;
    }
}
@media screen and (max-width: 590px) {
    #header{
        background-image: none;
        size: inherit;
        height: 100%;
    }
    #character h1{
        display: none;
    }
    #container{
        padding: 0;
    }
    #title{
        display: block;
        color: #013220;
        text-transform: uppercase;
        text-align: center;
    }
    #logo{
        float: none;
        border-top: 1px solid #013220;
    }
    #navbar{
        float: none;
        position: sticky;
    }
    #navbar a { /*making inline navbar look like a list*/
        border-bottom: 1px solid #013220;
        display: block;
        text-align: left;
        font-size: 13px;
    }
    #navbar a:first-child{
        border: none;
    }
}
#character{
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.blockquote-wrapper { /* Loki's quote */
    display: flex;
    padding: 5vw 0;
 }
 #blockquote {
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
    color: black;
    width: 100%;
    max-width: 30vw;
    margin: auto;
    align-self: center;
    border-top: solid 0.1vw;
    border-bottom: solid 0.1vw;
 }
 #blockquote:after {
    position: absolute;
    content: "”";
    color:black;
    font-size: 6rem;
    line-height: 0;
    bottom: -30px;
    right: 30px;
 }
 #blockquote p {
    padding: 0; 
    position: relative;
    padding-top: 1vw;
 }  
 #footer{
    background-color: #013220;
    color: palegoldenrod;
    margin-top: 8vw;
    padding: 2vw 30px;
    font-size: 2.2vw;
 }
 #footer p{
     padding: 0;
     text-align: left;
 }
 #footer a:hover{
    color: forestgreen;
 }
 @media screen and (min-width: 1100px){
    #footer p{
        font-size: 16.5px;  
    }
    #footer{
        padding: 20px 30px;
    }
}
/******************************************************************/


/******************************************************************/
                        /*~ABOUT.HTML~*/
/* Handling style when screen size changes */                        
/* When screen size >650px, movies are displayed as a grid */                        
/* Movies: 650-1000px: 2cols, 2rows | 1000px+: 4cols 1row */                        
@media screen and (max-width: 500px){
    #local-nav ul li{
        display: block;
        width: 100%;
        border: none;
        font-size: 14.5px;
        padding: 3px;
        color: palegoldenrod;
    }
    #movies #movies-with-loki{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }
}
@media screen and (min-width: 500px){
    #local-nav ul li{
        display: inline;
        padding: 0.2vw 1vw;
        border-right: 0.1vw solid #013220;
        border-left: 0.1vw solid #013220;
        margin-right: 1.5vw;
        color:palegoldenrod;
    }
    #local-nav ul li:hover{
        background-color: rgb(100, 170, 113);
        transition: background-color .3s ease-in;
    }
}
@media screen and (min-width: 650px){
    #movies #movies-with-loki{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #movies-few-minutes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 1fr;
        padding-bottom: 50px;
        border-bottom: 2px solid #013220;
    }
}
@media screen and (min-width: 1000px){
    #movies #movies-with-loki{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1000px){
    #fav_weapon img{
        width: 100%;
    }
    #serie iframe{
        width: 100%;
    }
}
#bars{ /*sticky position to avoid hiding navbar while scrolling*/
    position: sticky;
    top: 0;
}
#nav{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: seagreen;
 }
 #local-nav{
    margin: auto;
    position: relative;
    font-size: 17px;
    justify-self: center;
}
#local-nav ul li:last-child{
    margin-left: 0;
} 
#local-nav ul li:hover{
    background-color: rgb(100, 170, 113);
    transition: all .3s ease-in;
    color: #013220;
}
h1{
    padding: 50px;
    padding-bottom: 15px;
    text-align: center;
}
#loki_life{
    padding-bottom: 10vw;
}
#loki_life p{
    text-align: justify;
}
#loki_life p:last-child{
    padding-bottom: 0px;
}
#fav_weapon{
    padding-bottom: 40px;
    border-bottom: 2px solid #013220 ;
}
#fav_weapon img{
    display: block;
    margin: auto;
}
#fav_weapon p{
    text-align: center;
}
#movies h1{
    padding-bottom: 30px;
}
#movies h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
#movies-with-loki{
    padding-bottom: 50px;
}
.movies{
    padding: 1vw;
}
#movies img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
#movies img:hover{
    box-shadow: green 0px 0px 10px;
    transition: .3s ease-in-out;
}
#movies-few-minutes h1{
    grid-column: 1/3;
    grid-row: 1;
    font-size: 35px;
}
#serie img{
    display: block;
    margin: auto;
}
#serie p{
    text-align: center;
}
#serie iframe{
    border: 0px;
    display: block;
    margin: auto;
}
/******************************************************************/


/******************************************************************/
                            /*~FAMILY~*/
/* Handling style when screen size changes */ 
/* When screen size > 950px two images are displayed as a grid: 2cols, 1row*/                       
@media screen and (min-width: 950px){
    #child_x_jotunheim{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
@media screen and (max-width: 500px){
    #child_x_jotunheim img{
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    #reality img{
        width: 100%;
    }
    #family-tree img{
        width: 100%;
    }
}
#family-tree{
    padding-bottom: 60px;
    border-bottom: 2px solid #013220;
}
#family-tree img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
#family-tree img:hover{
    box-shadow: green 0px 0px 10px;
}
#details{
    padding-bottom: 50px;
    border-bottom: 2px solid #013220
}
.card{
    width: 100%;
    margin: auto;
    padding: 10px;
}
#child_x_jotunheim h2{
    text-align: center;
    padding-bottom: 10px;
}
#child_x_jotunheim img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
#child_x_jotunheim p{
    font-size: 18px;
    text-align: center;
}
#reality h1{
    padding-bottom: 30px;
}
#reality{
    padding-top: 20px;
    padding-bottom: 20px;
}
#reality img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
#reality img:hover{
    box-shadow: green 0px 0px 10px;
}
#reality p{
    text-align: center;
}
/******************************************************************/


/******************************************************************/
                           /*~HOBBY~*/
/* Handling style when screen size changes */ 
/* When screen size>1000px, movies and crime list are displayed as a grid*/
/* Otherwise are displayed as a block */
/* When screen size<450px crime list has no padding to avoid text overflow and save space */
@media screen and (min-width: 1000px){
    #movies_w_attempts {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 800px){
    #crime_list table th{
        font-size: 14px;
    }
    #crime_list table td{
        font-size: 12px;
    }
}
@media screen and (min-width: 450px){
    .to_hide{
        padding: 50px;
    }
}
@media screen and (max-width: 400px){
    .movie img{
        width: 100%;
    }
}
#elim_attempts h1{
    padding-bottom: 50px;
}
#movies_a{
    grid-column: 1;
    padding-left: 30px;
    padding-right: 30px;
}
.movie{
    padding: 20px;
    border-bottom: 1px solid #013220;
}
.movie:last-child{
    border-bottom: none;
}
#crime_list{
    grid-column: 2/5;
    grid-row: 1/5;
    background-color: rgb(255, 255, 206);
    border: 2px solid #013220;
}
.movie h3{
    text-align: center;
    padding: 18px 0;
}
.movie img{
    display: block;
    border-radius: 10px;
}
.movie button{
    display: block;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}
.movie img:hover{
    box-shadow: green 0px 0px 10px;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}
#crime_list h2{
    font-weight: normal;
    font-size: 38px;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
}
#crime_list .to_hide{
    display: none;
}
#crime_list .punishment{
    border-top: 1px solid #013220;
    border-bottom: 1px solid #013220;
}
#crime_list .punishment:hover{
    box-shadow: #013220 0px 0px 10px;
    border-radius: 10px;
}
#crime_list .punishment h2{
    font-size: 22px;
}
#crime_list .punishment img{
    display: block;
    margin: auto;
}
.to_hide h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}
.to_hide table{
    width: 100%;
    margin: 50px auto 100px auto;
    border-spacing: 0;
    border-top: 1px solid #013220;
    border-bottom: 1px solid #013220;
}
.to_hide table:hover{
    box-shadow: #013220 0px 0px 10px;
    border-radius: 10px;
}
.to_hide table thead{
    display: table;
    table-layout: fixed;
    border-spacing: 0 30px;
    width: 100%;
    font-size: 22px;
}
.to_hide table th{
    text-align: center;
    padding: 15px;
}
.to_hide table tbody{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.to_hide table tr{
    padding-bottom: 20px;
}
.to_hide table td{
    padding: 10px;
    height: 50%;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}
.to_hide table tbody tr:nth-child(odd) {
    background-color:rgb(165, 216, 174);
}
.to_hide table tbody tr:nth-child(even) {
    background-color:white;
}
/******************************************************************/


/******************************************************************/
                        /*~CONTACTS~*/
/* Handling style when screen size changes */ 
/* When screen size>1300px, two pictures representing Loki's home are displayed as a grid */
@media screen and (min-width: 1300px){
    #map{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 680px){
    .place-card img{
        width: 100%;
    }
}
#contacts h1{
    padding-bottom: 50px;
}
#contacts h2{
    text-align: center;
    font-size: 40px;
}
#contacts p{
    padding: 10px;
    text-align: center;
}
#contact-card{
    padding-bottom: 30px;
}
.place-card{
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
}
.place-card h3{
    text-align: center;
    padding-bottom: 10px;
}
.place-card img{
    display: block;
    margin: auto;
    border-radius: 10px;
}
#end{
    border-bottom: 2px solid #013220;
    border-top: 2px solid #013220;
    padding: 30px;
}
#end p{
    font-weight: bold;
    text-align: center;
    color: #013220;
    font-size: 25px;
}
/******************************************************************/